$iconSize: 8rem;
$taskbarIconSize: 5rem;
$lightGreyBackground: rgba(128, 128, 128, 0.5);
$greyBackground: rgba(32, 32, 32, 0.95);
$darkBackground: rgba(24, 24, 24, 0.95);


$lightRed: rgb(220, 50, 50);
$darkGrey: rgb(190, 190, 190);

$indicatorWidth: 12rem;
$indicatorHeight: 1.2rem;

$loadingBackground: rgb(24, 24, 24);